NET "clk_100mhz"		LOC = AC18	|	IOSTANDARD = LVCMOS18;
NET "clk_100mhz"		TNM_NET = TM_CLK;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK" 10 ns HIGH 50%;

#七段码串行接口
NET "SEGCLK"			LOC = M24	| IOSTANDARD = LVCMOS33 ;
NET "SEGCLR"			LOC = M20   | IOSTANDARD = LVCMOS33 ;
NET "SEGDT"				LOC = L24   | IOSTANDARD = LVCMOS33 ;
NET "SEGEN"				LOC = R18   | IOSTANDARD = LVCMOS33 ; 

#SWord LED移位接口 SPLIO输出，低16位对应LED
NET "LEDCLK"			LOC = N26	| IOSTANDARD = LVCMOS33 ;
NET "LEDCLR"			LOC = N24   | IOSTANDARD = LVCMOS33 ;
NET "LEDDT"				LOC = M26   | IOSTANDARD = LVCMOS33 ;
NET "LEDEN"				LOC = P18   | IOSTANDARD = LVCMOS33 ; 
